/** App.css **/

.background {
  fill: none;
  pointer-events: all;
  height: auto;
  background-repeat: no-repeat;
}

#states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}

#states .active {
  display: none;
}

.county-boundary {
  stroke: #fff;
  stroke-width: 0.5px;
}

.county-boundary:hover,
.state:hover {
  stroke: #000;
  stroke-width: 2px;
}